@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()
    <ul class="nav navbar-nav navbar-right">
        <li>
             @Html.ActionLink("Ajouter livres", "Search", "Livres", routeValues: null, htmlAttributes: new { title = "Ajouter livres" })
            

         </li>
        <li>
    @if (User.IsInRole("Gestionnaire"))
    {
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Administrer les livres<span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li>@Html.ActionLink("Réception de livres", "RemiseLivre", "Livres", routeValues: null, htmlAttributes: new { title = "Réception de livres" })</li>
            <li><a href="#">@Html.ActionLink("Récupération de livres", "RecuperationLivre", "Livres", routeValues: null, htmlAttributes: new { title = "Récupération de livres" })</a></li>
            <li><a href="#">@Html.ActionLink("Expedier un livre", "ExpedierLivre", "Livres", routeValues: null, htmlAttributes: new { title = "Expedition de livres" })</a></li>
            <li><a href="#">@Html.ActionLink("Voir les livres en livraison", "LivraisonLivre", "Livres", routeValues: null, htmlAttributes: new { title = "Livre en livraison" })</a></li>
        </ul>
    </li>
               
            }
            else
            {
                @Html.ActionLink("Réserver un livre", "ReserverLivre", "Livres", routeValues: null, htmlAttributes: new { title = "Réserver un livre" })
            }
        </li>
    <li>
         @Html.ActionLink("Bonjour " + User.Identity.GetUserName() + "!", "Manage", "Account", routeValues: null, htmlAttributes: new { title = "Administrer" })
          
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Se déconnecter</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("S’inscrire", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
       <!-- <li>@Html.ActionLink("S’inscrire Gestionnaire", "RegisterGestionnaires", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>-->
        <li>@Html.ActionLink("Se connecter", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
