@model WebApplication2.Models.LivreInventaire


@{
    ViewBag.Title = "Ajout de l'état du livre";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.HiddenFor(m => m.Etat)
    @Html.HiddenFor(m => m.Cooperative)
    @Html.HiddenFor(m => m.ValeurEtat)
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Livres</h4>
        <hr />
        @Html.ValidationSummary(true)
       
        <div class="form-group">
            @Html.LabelFor(model => model.CodeIdentification, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(model => model.CodeIdentification)
                @Html.ValidationMessageFor(model => model.CodeIdentification)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Etat, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
            
               @Html.DropDownListFor(model => model.typeId,new SelectList(Model.ValeurEtat,"Etatid","name",Model.Etat))
            </div>
        </div>
        
        @Html.HiddenFor(m => m.CodeIdentification)
        @Html.HiddenFor(m => m.NomEtudiant)

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Confirmer le changement" class="btn btn-primary" />
                @Html.ActionLink("Annuler", "RemiseLivre", "Livres", new { }, new { @class = "btn btn-default" })
            </div>
        </div>
    </div>
}


<div>

</div>
