@model IEnumerable<WebApplication2.Models.LivreAVendre>

@{
    ViewBag.Title = "Réserver un livre";
}


<h2>Réserver un livre</h2>

@if (ViewBag.Success == true)
{
    <div class="alert alert-success fade in">
        <strong>Succès!</strong> Votre demande de notification a été effectué avec succès. Vous serez avisé lorsqu'un autre étudiant rajoutera votre livre dans le système. Prenez note
        qu'il peut s'agir d'un livre provenant d'une autre coopérative que qu'il peut y avoir des frais de transport ratachés.
    </div>
}
@if(ViewBag.Warning == true)
{
    <div class="alert alert-warning">
        <strong>Attention!</strong> Vous avez déjà fait une demande de notification pour ce livre. Soyez patient, vous receverez une notification quand ce livre sera rajouter.
    </div>
}
@if (ViewBag.NotFound == true)
{
    <div class="alert alert-danger">
        <strong>Attention !</strong> Votre Livre n'a pas été trouvé dans le systeme. Voulez-vous être notifié lorsqu'un étudiant le rajoute?
        <form method="post" action="@Url.Action("ConfirmationNotification")">

            @if (ViewBag.Search == "")
            {
                @Html.TextBox("value", "", new { @class = "form-control" })
            }
            @if (ViewBag.Search != "")
            {
                @Html.TextBox("value", (string)ViewBag.Search, new { @class = "form-control" })
            }


            <div class="form-group">
                <input type="submit" value="Être Notifié" class="btn btn-danger" />
            </div>
        </form>
    </div>




}

    <p>
        @Html.ActionLink("Ajouter un livre a vendre", "Search", new { }, new { @class = "btn btn-primary" })
    </p>
<table class="table">
    <tr>
        <th>
            <form method="get" action="@Url.Action("ReserverLivre", "Livres")">
                <div class="col-xs-1">
                    <label for="search">Recherche:</label>
                    </div>
                    <div class="col-xs-2">
                        <input type="text" class="form-control" placeholder="Code d'identification" name="search1" id="search1" />
                        
                    </div>
                    <div class="col-xs-3">
                        <input type="text" class="form-control" placeholder="Auteur" name="search2" id="search" />
                    </div>
                    <div class="col-xs-4">
                        <input type="text" class="form-control" placeholder="Titre" name="search3" id="search3" />
                    </div>
               
                   <button type="submit" class="btn btn-info">
                       <span class="glyphicon glyphicon-search"></span>
                        Recherche
                   </button>
                    
</form>
        </th>
    </tr>
</table>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CodeIdentification)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Titre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Etat)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Quantite)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cooperative)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prix)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CodeIdentification)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Titre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Etat)
                </td>
                <td>

                    @Html.DisplayFor(modelItem => item.Quantite)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cooperative)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Prix)
                </td>

                <td>
                    
                    @Html.ActionLink("Réserver", "DetailsReservation", new { id = item.Id}, new { @class = "btn btn-success" }) 
                    
                   
                    
                </td>
            </tr>
        }
        
    </table>
